<?xml version="1.0"?>

<model>
  <name>Ground Plane for WRC</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nobuyuki Matsuno</name>
    <email>nobuyuki_matsuno@mail.toyota.co.jp</email>
  </author>

  <description>
    Ground plane model for WRC competition.
  </description>
</model>
